paper-discovery.json
{
  "name": "ResearchMind - Paper Discovery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR_WEBHOOK_PATH",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-192, 128],
      "id": "33de60fb-aef7-4fa5-a0cd-671f5c1eeadb",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "url": "https://export.arxiv.org/api/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "start", "value": "0" },
            { "name": "max_results", "value": "15" },
            { "name": "search_query", "value": "={{ $json.body.topic.replace(/ /g, '+') }}" },
            { "name": "sortBy", "value": "relevance" },
            { "name": "sortOrder", "value": "descending" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [96, 192],
      "id": "d5001f39-497a-4691-a68c-b639d12c336a",
      "name": "ArXiv"
    },
    {
      "parameters": {
        "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "db", "value": "pubmed" },
            { "name": "term", "value": "={{ $json.body.topic }}" },
            { "name": "retmax", "value": "5" },
            { "name": "retmode", "value": "json" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [256, 32],
      "id": "10d200ac-8066-4e71-87aa-31b02fc7374a",
      "name": "PubMed",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.semanticscholar.org/graph/v1/paper/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "={{ $json.body.topic }}" },
            { "name": "limit", "value": "5" },
            { "name": "fields", "value": "title,authors,year,abstract,citationCount,url" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [256, -160],
      "id": "86f004a0-fa89-4af5-82e9-5e13b28f4159",
      "name": "Semantic Scholar",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1280, 128],
      "id": "d5485b54-1b85-4b04-86c6-246d1e6f9205",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==You must ONLY use papers from the data provided below. \nDo not invent, generate, or assume any paper. If real papers are \nfewer than requested, return only what exists. Never pad results.\n{{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are a research assistant. You will receive raw data from multiple research paper sources including ArXiv and OpenAlex.\n\nThe user is searching for: {{ $json.topic }}\nCitation filter applied: {{ $json.min_citations }} – {{ $json.max_citations }} citations\n\nHere is the raw paper data:\n{{ $json.all_papers }}\n\nWhen selecting papers follow these rules:\n- Include papers whose citation count falls between {{ $json.min_citations }} and {{ $json.max_citations }} — prioritize papers within this range\n- Papers with low citations (0-10) are still valuable if they are recent (2023+) or highly relevant to the search topic\n- Prioritize papers with high citation counts within the given range\n- Prioritize papers from reputable journals and conferences\n- Include papers that are highly specific to the search topic\n- Avoid generic or loosely related papers\n- Prefer recent papers from 2020 onwards\n- Only exclude pre-2020 papers if their citation count is below 50 AND they are not highly specific to the topic\n- Include papers from OpenAlex that are not typically found on ArXiv\n- Remove any duplicate papers — if the same paper appears multiple times only show it once with the most complete information\n- Never show just an ArXiv ID as a title — always use the full paper title\n- If a paper has no title, authors, year or citations in the provided data, skip it completely — do not fill fields with \"Not available\"\n- Never generate or assume paper details — only use data from the provided papers\n\nReturn ALL papers from the provided data that match the search criteria and citation range in this exact format:\n\n1. Title: [paper title]\n   Authors: [authors]\n   Year: [year]\n   Citations: [citation count]\n   Why this matters: [one sentence explaining why this paper is important and valuable]\n   Summary: [2-3 sentence summary]\n   Source: [ArXiv / OpenAlex]\n\nNumber papers sequentially from 1 upward.\nDo not add any extra commentary or notes at the end.\nDo not repeat any paper twice.\nDo not limit results - include every paper from the data that meets the criteria."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [928, 128],
      "id": "ccea42c4-2a49-4bf0-9df5-7a863464176b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [1008, 352],
      "id": "7c9ed23c-a7c8-437e-b9b6-4af4ace9545e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.openalex.org/works",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "search", "value": "={{ $json.body.topic }}" },
            { "name": "per_page", "value": "10" },
            { "name": "select", "value": "title,authorships,publication_year,cited_by_count,abstract_inverted_index,doi,id,concepts" },
            { "name": "filter", "value": "=cited_by_count:{{ $json.body.min_citations }}-{{ $json.body.max_citations }}" },
            { "name": "sort", "value": "relevance_score:desc" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [256, 416],
      "id": "68516609-5344-4450-8eba-d5eaafc67e41",
      "name": "OpenAlex"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [480, 96],
      "id": "347abca1-6140-438d-a492-fbdb2b807434",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "21c25fa2-72cd-4fc8-8e58-95b32e53d8a9", "name": "topic", "value": "={{ $input.first().json.body.topic }}", "type": "string" },
            { "id": "f26fdd2d-77e9-4462-8704-7aa227fe78d8", "name": "min_citations", "value": "={{ $input.first().json.body.min_citations }}", "type": "number" },
            { "id": "5fe950c0-dfd2-4007-8b24-eea6a3d59863", "name": "max_citations", "value": "={{ $input.first().json.body.max_citations }}", "type": "number" },
            { "id": "716b477f-5b31-4966-965e-7e13f4f5cbe4", "name": "all_papers", "value": "={{ JSON.stringify($input.all().map(item => ({...item.json, abstract: item.json.abstract_decoded || item.json.abstract || ''}))) }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [704, 128],
      "id": "9d0e36a9-8157-4a3e-883f-46b001bd906e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const invertedIndex = item.json?.abstract_inverted_index;\n  \n  if (invertedIndex && typeof invertedIndex === 'object') {\n    const wordPositions = [];\n    for (const [word, positions] of Object.entries(invertedIndex)) {\n      positions.forEach(pos => {\n        wordPositions.push({ word, pos });\n      });\n    }\n    wordPositions.sort((a, b) => a.pos - b.pos);\n    item.json.abstract_decoded = wordPositions.map(wp => wp.word).join(' ');\n  } else {\n    item.json.abstract_decoded = item.json?.abstract || '';\n  }\n  \n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [256, 224],
      "id": "e3f8f125-71eb-4194-9542-427c25becdac",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[
        { "node": "Semantic Scholar", "type": "main", "index": 0 },
        { "node": "PubMed", "type": "main", "index": 0 },
        { "node": "ArXiv", "type": "main", "index": 0 },
        { "node": "OpenAlex", "type": "main", "index": 0 }
      ]]
    },
    "ArXiv": { "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]] },
    "Semantic Scholar": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "PubMed": { "main": [[{ "node": "Merge", "type": "main", "index": 1 }]] },
    "Groq Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "OpenAlex": { "main": [[{ "node": "Merge", "type": "main", "index": 3 }]] },
    "Merge": { "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]] },
    "Edit Fields": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "Code in JavaScript": { "main": [[{ "node": "Merge", "type": "main", "index": 2 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
